/* color palette */
:root {
  --background-color-primary: #092026;
  --background-color-ligther: #0D2F39;
  --background-color-dec: 9, 32, 38;
  --accent-color: #3f3f3f;
  --text-primary-color: #ddd;

  --color-background: #ffffff;
  --color-text: #2c3e50;

  --font-mono: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
  --font-sans: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;

  --blue: #6cc4dc;
  --blue-bright: #c3fbfb;
  --blue-dim: #45B4D3;
  --blue-muted: #288EAA;
  --blue-dark: #123F4C;
  --cyan: #94e4ec;

  --f-small: 12px;
  --f-medium: 15px;
  --f-large: 20px;
  --f-xxl: 22px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.3;
  font-family: var(--font-sans);
  font-size: 20px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
