/* color palette */
:root {
  --background-color-primary: #092026;
  --background-color-ligther: #0D2F39;
  --background-color-dec: 9, 32, 38;
  --accent-color: #3f3f3f;
  --text-primary-color: #ddd;

  --color-background: #ffffff;
  --color-text: #2c3e50;

  --font-mono: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
  --font-sans: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;

  --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);

  --blue: #6CC4DC;
  --blue-soft: #51e1ee;
  --blue-bright: #c3fbfb;
  --blue-dim: #407584;
  --blue-muted: #288EAA;
  --blue-dark: #123F4C;
  --cyan: #51e1ee/*rgba(0,175,255, 1)*/;

  
  --f-medium: 15px;
  --f-large: 20px;
  --f-xxl: 22px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  font-family: var(--font-mono);
  position: relative;
  background-image: linear-gradient(to bottom right, 
      var(--background-color-primary),#081D22,#13434F);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--blue-dim);
  border: 3px solid var(--background-color-primary);
  border-radius: 10px;
}

body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-track {
  background: var(--background-color-primary);
}
