@import './base.css';

p{
  color: var(--text-primary-color);
}
header{
  position: fixed;
  top: 0px;
  z-index: 10;
  width: 100%;
}
nav{
  position: fixed;
  background-color: rgba(var(--background-color-dec), 0.85);
  backdrop-filter: blur(7px);
  display: flex;
  justify-content: space-between;
  font-size: var(--f-large);
  width: 100%;
  padding: 15px 69px;
  transform: translateY(0);
  transition: transform 200ms linear;
}
nav.navHidden {
  transform: translateY(-100%);
}
nav.navBorder {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
}
.logo, .links{
  display: flex;
  align-items: center;
}
.logo p{
  border-radius: 10px;
  padding: 4px;
  background: var(--blue);
  color: white;
}
nav li, footer li{
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}
nav li a{
  color: white;
  text-decoration: none;
  text-transform: capitalize;
}
nav li a:first-letter {
  text-transform: uppercase;
}
nav li a::before {
  content: attr(data-text);
  position: absolute;
  top: 1%;
  left: 0;

  color: var(--blue);
  overflow: hidden;

  width: 0%;
  transition: 0.5s;
}
nav li a:hover::before {
  width: 100%;
}
.hero{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  min-height: 100vh;
  padding: 200px 0;
  font-size: 1em;
  font-family: var(--font-sans);
}
.hero h1{
  margin: 0 0 30px 4px;
  color: var(--blue);
  font-size: clamp(0.5vw, 1.5vw, 2rem);
}
.hero h2{
  font-size: clamp(40px, 8vw, 80px);
  color: var(--cyan);
  font-weight: 500;
  line-height: 1.1;
}
.hero h3{
  font-size: clamp(20px, 6vw, 60px);
  color: var(--blue-dim);
  line-height: 1.1;
}
.wrapper {
  background-color: var(--background-color-primary);
  display: flex;
  align-items: center;
  flex-direction: column;
}
section {
  margin: 0px auto;
  padding: 100px 0px;
  min-height: 100vh;
  max-width: 960px;
}
h2{
  font-weight: 600;
  color: var(--blue);
  line-height: 1.1;
  font-size: clamp(26px,5vw,32px);
}
.card {
  text-align: center;
  margin: 10px;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  background-color: var(--background-color-secondary);
  
}
p{
  margin: 13px 0;
}
footer{
  position: absolute;
  bottom: 0;
  display: flex;    
  align-items: center;
  flex-direction: column;
}
