@import './base.css';

#app{
  width: 100vw;
  height: 100vh;
  padding: 0 10px;
}

.wrapper, .main{
  width: 100%;
  height: 90vh;
}
.wrapper{
  min-height: 100%;
}
.folder-wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
}


footer{
  position: fixed;
  left: 0;
  bottom: 1.5rem;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}
footer a, footer p{
  font-size: var(--f-small);
  color: gray
}
@media only screen and (min-width: 940px) {
  
}